@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    /* text-decoration: none; */
    list-style: none;
}
li{
    cursor: help;
}

:root{
    --bg-light: rgba(162, 162, 162, 0.1);
    --bg-white: rgb(180, 180, 180);
    --shadow-s: rgba(0, 0, 0, 0.2);
    --color-cyan: rgb(84, 125, 230);
    --color-verde: green;    
    --color-blue: blue;
}
.max-width{
    width: 100dvw;
    max-width: 1280px;
    margin-inline: auto;
}

.text-light{
    color: rgb(162, 162, 162);
}
.size-small{
    font-size: 16px;
}
.size-big{
    font-size: 40px;
}

.active{
    box-shadow: 0 0 2px 0px blue;
}
.btn.bg-color-2{
    background-color: var(--color-blue);
    color: white;
}
.btn.bg-color-2:hover{
    background-color: rgba(0, 0, 255, 0.777);
}

body{
    display: grid;
    gap: 20px;
   overflow-x: hidden;

}