@import "reset.css";

/*
.##.....##.########....###....########..########.########......######..########..######..########.####..#######..##....##
.##.....##.##.........##.##...##.....##.##.......##.....##....##....##.##.......##....##....##.....##..##.....##.###...##
.##.....##.##........##...##..##.....##.##.......##.....##....##.......##.......##..........##.....##..##.....##.####..##
.#########.######...##.....##.##.....##.######...########......######..######...##..........##.....##..##.....##.##.##.##
.##.....##.##.......#########.##.....##.##.......##...##............##.##.......##..........##.....##..##.....##.##..####
.##.....##.##.......##.....##.##.....##.##.......##....##.....##....##.##.......##....##....##.....##..##.....##.##...###
.##.....##.########.##.....##.########..########.##.....##.....######..########..######.....##....####..#######..##....##
*/

header {
  width: 100%;
  height: 80px;
  box-shadow: 0 0.1px 10px var(--shadow-s);
}

.header__container {
  display: grid;
  height: 100%;
  grid-template-columns: 350px auto auto;
  align-items: center;
}


.header__middle {
  color: var(--color-cyan);
}
.header__left {
  background-color: var(--bg-white);
  width: 300px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  padding: 5px;
  border-radius: 50px;
}
input[id="mensual"],
input[id="anual"] {
  position: absolute;
  top: 30%;
  opacity: 0;
  visibility: hidden;
}

input[id="mensual"] {
  left: 20%;
}
input[id="anual"] {
  right: 20%;
}
input[id="mensual"]:checked + label,
input[id="anual"]:checked + label {
  background-color: aliceblue;
  /* padding: 10px 10px; */
  border-radius: 40px;
  font-weight: 600;
}
label {
  cursor: pointer;
  padding: 10px 10px;
}

.header__right {
  justify-self: end;

  span {
    color: var(--bg-white);
  }
  select {
    border: none;
    outline: none;
    font-weight: 600;
    cursor: pointer;
  }
}

@media (max-width: 886px) {
  header{
    height: fit-content;
    padding-block: 10px;
  }
  .header__container{
    gap: 10px;
  }
  .header__left{
    grid-column: 1/4 !important;
    justify-self: center;
  }
  .header__middle{
    grid-column: 1/4 !important;
    justify-self: center;
  }
  .header__right{
    grid-column: 1/4 !important;
    justify-self: center;
  }
}
/*
.##.....##....###....####.##....##.....######..########..######..########.####..#######..##....##
.###...###...##.##....##..###...##....##....##.##.......##....##....##.....##..##.....##.###...##
.####.####..##...##...##..####..##....##.......##.......##..........##.....##..##.....##.####..##
.##.###.##.##.....##..##..##.##.##.....######..######...##..........##.....##..##.....##.##.##.##
.##.....##.#########..##..##..####..........##.##.......##..........##.....##..##.....##.##..####
.##.....##.##.....##..##..##...###....##....##.##.......##....##....##.....##..##.....##.##...###
.##.....##.##.....##.####.##....##.....######..########..######.....##....####..#######..##....##
*/

.main__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  gap: 10px;
}

figure {
  width: 300px;
  display: grid;
  align-content: first baseline;
  box-shadow: 0 0 2px 0px var(--shadow-s);
  border-radius: 20px;
  padding: 20px;
  gap: 20px;
}
figure > p {
    min-height: 80px;
}
.precio {
  display: flex;
  align-items: center;
  gap: 10px;
    min-height: 80px;


  h1 {
    flex-shrink: 0;
  }
}

.logo__valid {
  color: var(--color-verde);
}
.list__links img,
.card img {
  width: 20px;
}

.btn {
  text-decoration: none;
  color: black;
  box-shadow: 0 0 2px 0px var(--shadow-s);
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  font-weight: 500;
}

.btn:hover {
  background-color: rgba(233, 233, 233, 0.65);
}

.service__list {
  display: grid;
  gap: 10px;
}
.list__links {
  display: flex;
  gap: 10px;


}
.card {
  background-color: var(--bg-light);
  padding: 10px;
  display: grid;
  gap: 5px;
  border-radius: 20px;

 
}

.cadr__title {
  display: flex;
  align-items: center;
  gap: 10px;

  img {
    background-color: white;
    width: 50px !important;
    padding: 10px;
    border-radius: 50%;
  }
}
